*{
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Sans", sans-serif;
	box-sizing: border-box;
}
body {
	background-color: plum;
	width: 100%;
	height: 100vh;
}

th, td {
	padding: 5px 5px;
}

th {
	background-color: white;
	border-radius: 7px;
}

td {
	background-color: thistle;
	border-radius: 7px;
}

table {
  width: 100%;
  color: purple; 
}

#meni{
	border: 3px ridge purple;
	height: 100px;
	width: 100%;
	background-color: thistle;
}

#meni ul{
	margin: 20px 20px 20px 20px;
}

#grupelnk, #vjezbelnk{
	display: inline-block;
	padding: 10px 10px;
}

#meni ul li a{
	text-decoration: none;
	color: floralwhite;
	font-weight: bold;
	font-size: 30px;
}

#gridOmotac{
	width: 100%;
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 1fr;
}

#studenti {
	border: 3px ridge purple;
	width: 100%;
	padding: 10px 10px;
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px,auto));
	grid-gap: 20px;
}

.elementStudenti {
	border: 3px ridge thistle;
	border-radius: 10px;
	background-color: white;
	border-collapse: collapse;
	color: purple;
	padding: 10px;
}

.elementStudenti p{
	text-align: center;
	background-color: thistle;
}

#grupe {
	grid-column: 2;
	grid-row: 1;
	width: 100%;
	padding: 10px 10px;
	border: 3px ridge purple;
}

@media only screen and (max-width: 799px){
	#gridOmotac{
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
	}
	#studenti, #grupe {
		width: 100%;
		grid-column: 1;
	}
	#studenti{
		grid-row: 2;
	}
	#grupe{
		grid-row: 1;
	}
}

@media only screen and (max-width: 499px){
		#gridOmotac{
			grid-template-columns: 1fr;
			grid-template-rows: auto auto;
		}
		#studenti, #grupe {
			width: 100%;
			grid-column: 1;
		}
		#studenti{
			grid-row: 2;
		}
		#grupe{
			grid-row: 1;
		}

		td:nth-child(2), td:nth-child(3), th:nth-child(2), th:nth-child(3) {
  			display: none
		}

		#meni ul{
			width: 100%;
			list-style-type: none;
			margin: auto;
		}

		#grupelnk, #vjezbelnk{
			width: 100%;
			text-align: center;
			display: list-item;
			padding-right: 0;
			padding-left: 0;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		#meni ul li a{
			font-size: 20px;
		}
}
