*{
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Sans", sans-serif;
	box-sizing: border-box;
}
body {
	background-color: plum;
	width: 100%;
	height: 100vh;
	padding: 40px 0;
}
#formaRepozitorij{
	border: 3px ridge purple;
	margin: auto;
	max-width: 25%;
	padding: 20px 20px;
	color: floralwhite;
	background-color: thistle;
}
#formaRepozitorij h1{
	margin-bottom: 20px;
	width: 100%;
}
button{
	color: purple;
	border: 2px ridge purple;
	border-radius: 5px;
	width: 100%;
	padding: 10px;
	margin: auto;
}
input{
	color: purple;
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid purple;
	border-radius: 5px;
	font-size: 20px;
}