*{
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Sans", sans-serif;
	box-sizing: border-box;
}

body {
	background-color: plum;
	width: 100%;
	height: 100vh;
}

#meni{
	border: 3px ridge purple;
	box-sizing: border-box;
	height: 100px;
	width: 100%;
	background-color: thistle;
}

#meni ul{
	margin: 20px 20px 20px 20px;
}

#grupelnk, #vjezbelnk{
	display: inline-block;
	padding: 10px 10px;
}

#meni ul li a{
	text-decoration: none;
	color: floralwhite;
	font-weight: bold;
	font-size: 30px;
}

#omotac{
	border: 3px ridge purple;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	padding: 10px 10px;
	grid-gap: 10px;
}
#odabirVjezbe{
	grid-row: 1/ span 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 5px;
	padding: 10px 10px;
	background-color: thistle;
	border-radius: 7px;
}

.buttonVjezba{
	width: 100%;
	padding: 5px 5px;
	color: purple;
	background-color: floralwhite;
	font-size: 20px;
	border-radius: 7px;
}

.buttonZadatak{
	padding: 5px 5px;
	color: purple;
	background-color: thistle;
	border-radius: 7px;
	width: 100%;
}

.divZadaci{
	background-color: purple;
	border-radius: 7px;
	padding: 5px 5px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(90px,auto));
	grid-template-rows: repeat(auto-fit,minmax(auto,30px));
	grid-gap: 5px;	
}

.graf{
	padding: 10px 10px;
	background-color: thistle;
	border-radius: 7px;
}
.graf img{
	width: 100%;
	height: 100%;
	border-radius: 7px;
}
@media only screen and (max-width: 799px){
		#meni ul{
			width: 100%;
			list-style-type: none;
			margin: auto;
		}

		#grupelnk, #vjezbelnk{
			width: 100%;
			text-align: center;
			display: list-item;
			padding-right: 0;
			padding-left: 0;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		#meni ul li a{
			font-size: 20px;
		}

		#omotac{
			grid-template-columns: 1fr;
			grid-template-rows: auto auto auto auto auto;
		}
		#odabirVjezbe{
			grid-row: 1;
		}
}
