*{
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Sans", sans-serif;
	box-sizing: border-box;
}
body {
	background-color: plum;
	width: 100%;
	height: 100vh;
	padding: 40px 40px;
}

#gridOmotac{
	grid-column-gap: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

#formaZadaci{
	border: 3px ridge purple;
	width: 100%;
	padding: 20px 20px;
	color: floralwhite;
	background-color: thistle;
}
#formaZadaci h1{
	margin-bottom: 20px;
	width: 100%;
}
#formaError{
	border: 3px ridge purple;
	width: 100%;
	padding: 20px 20px;
	color: floralwhite;
	background-color: thistle;
}

select{
	color: purple;
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid purple;
	border-radius: 5px;
	font-size: 20px;
}

textarea{
	width: 100%;
	height: 20vh;
	margin: 10px 0;
	padding: 5px;
	border: 1px solid purple;
	border-radius: 5px;
	color: purple;
}
button{
	color: purple;
	border: 2px ridge purple;
	border-radius: 5px;
	width: 50%;
	padding: 10px;
	margin: 10px 0;
}

#errorCheck{
	margin: 10px 0;
}